
.softbump1 {
    border-radius: 15px;
    box-shadow: inset 1px 1px 4px 0px rgba(255, 255, 255, .9), -3px -3px 16px 0px rgba(255, 255, 255, .9), 
                inset -1px -1px 4px 0px rgba(180, 180, 180, .7), 3px 3px 16px 0px rgba(180, 180, 180, .7);

}

.softbump {
    border-radius: 15px;
    box-shadow: inset 2px 2px 5px 0px rgba(255, 255, 255, .7), -7px -7px 13px 4px rgba(255, 255, 255, .7), 
                inset -2px -2px 5px 0px rgba(180, 180, 180, .7), 7px 7px 13px 4px rgba(180, 180, 180, .7);

}

.softbump-night {
    border-radius: 15px;
    box-shadow: inset 2px 2px 3px -1px rgba(30, 30, 30, .9), -7px -7px 9px 1px rgba(30, 30, 30, .9), 
                inset -2px -2px 3px -1px rgba(15, 15, 15, .9), 7px 7px 9px 1px rgba(15, 15, 15, .9);

}

.softbump-hard {
    border-radius: 15px;
    box-shadow: inset 2px 2px 3px -1px rgba(255, 255, 255, .9), -7px -7px 9px 1px rgba(255, 255, 255, .9), 
                inset -2px -2px 3px -1px rgba(180, 180, 180, .9), 7px 7px 9px 1px rgba(180, 180, 180, .9);

}

.softbump-hard1 {
    border-radius: 10px;
    box-shadow: -4px -4px 16px 1px rgba(255, 255, 255, .9), 
                4px 4px 16px 1px rgba(180, 180, 180, .9);

}