.main-night {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #171717;
    color: darkgray;
}
.main-night a {
    color: darkgray;
}

.main {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #E8E8E8;
}

.center {
    display: block;
    margin: auto;
    padding: auto ;
    width: 60%;
}

.nav {
    /* background: #303030; */
    display: block;
    margin: auto;
    padding: 1em;
}

.nav-button {
    font-size: larger;
    display: inline-block;
    font-family: monospace;
    width: 12em;
    padding: 1em;
    margin: auto .5em;
    text-align: center;
    height: 1em;
}

.section {
    width: 100%;
    padding: 1em;
    margin: 2em auto;

}

.outline {
    outline: 1pt;
    outline-style: dashed;
    outline-color: black;
}